# mpi4py does not install with pip on cpu, so we ignore it for e.g. runner installation
torch~=2.2.0
torchvision~=0.17.0
pydantic~=2.0
wandb~=0.16.2
fire~=0.5.0
tqdm~=4.65.0
jaxtyping~=0.2.25
matplotlib~=3.8.2
transformer-lens~=1.10.0
pyarrow~=14.0.2

